body {
    font-family: 'Roboto Slab', serif;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #5e5e5e;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: block;
    padding: 20px;
    padding-left: 120px;
    padding-top: 80px;
}

a {
    color: #000000;
    text-decoration: none;
    word-wrap: break-word;
}

a:hover {
    color: #353535;
    text-decoration: underline;
}

a:focus {
    color: #686868;
    text-decoration: underline;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

blockquote {
    margin: 20px 0 30px;
    padding-left: 20px;
    border-left: 3px solid #2a2d31
}

pre {
    padding: 5px;
    background-color: #e4e4e4;
    border-radius: 5px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
}

p>code {
    padding: 5px;
    background-color: #e4e4e4;
    border-radius: 5px;
}

p {
    word-break: normal;
    white-space: normal;
}

td,
th {
    border: 1px solid #e4e4e4;
    padding: 8px;
    margin: 0;
}

th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #e4e4e4;
}

table {
    border-collapse: collapse;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #00000000;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 2.5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.3);
}

h1 {
    border-bottom: solid black 1px;
    padding-bottom: 0.8rem;
    color: black;
}

h2, h3, h4, h5, h6 {
    color: #313131;
}

li:focus {
    background-color: #0000FF20;
}

.sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    width: 76px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: #9e9e9e;
}

.sidebar>span {
    font-size: xx-large;
    text-orientation: sideways;
    writing-mode: vertical-lr;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
    box-sizing: border-box;
    max-height: 80% !important;
}

.chips-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-left: -10px;
}

.chip {
    flex: 2 1 100px;
    height: 44px;
    border-radius: 3px;
    margin: 10px;
    box-shadow: #00000018 0px 2px 5px 2px;
    transition: all 150ms;
    display: grid;
    place-items: center;
}

.chip:hover {
    box-shadow: #00000025 0px 2px 7px 3px;
}

.chip:focus {
    background-color: #f5f5f5;    
}

.chip-square {
    flex: 2 1 200px;
    height: 200px;
}

.topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top-title {
    margin-left: 60px;
}

.top-buttons-container {
    display: inline-block;
    display: grid;
    place-items: center;
    margin-right: 20px;
}

.top-button {
    display: block;
}

@media only screen and (max-width: 600px) {
    #top-title-text {
        display: none;
    }
}